/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('../imagen/Apk.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
    display: flex;
    /* Cambiado a flexbox para centrar el contenido */
    flex-direction: column;
    
    height: 100vh; /* Altura completa de la ventana */
    overflow-y: scroll; /* Evita el desplazamiento */
    padding-bottom: 30px;
}

.trab-body{
    margin: 50px;
    /* Alineación vertical y horizontal */
    margin-top: 7%;
    align-items: center;
}

.documentos {

    margin-top: 5px; /* Espacio arriba del menú */
    margin-bottom: 5px; /* Espacio abajo del menú */
    padding: 0;
    border-radius: 35%; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    background-color: rgba(255, 255, 255, 0.1); /* Fondo blanco con opacidad */
    padding: 10px; /* Espacio interno del menú */
    transition: background-color 0.3s;

}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

form input, form button, form select {
    margin: 5px;
    padding: 10px;
}

form input {
    width: 125px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #d32f2f;
}

/*estilos para alinear boton de descarga y el formulario*/
.download-button {
    text-align: center;
    width: 73px;
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}


.download-button:hover {
    background-color: #45a049;
}

.btn-warning, .btn-danger{
    /*modificar tamaño*/
    width: 50px;
    height: 40px;
}

.btn-warning{

    background-color: #ffb64f;

}

.fa-solid{
    font-size: 20px;
    color: white;
}

.sel2{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.sel2:hover{
    background-color: #e0e0e0;
}
.sel2:focus{
    outline: none;
    border-color: #4CAF50;
}
.sel2 option{
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}
.sel2 option:hover{
    background-color: #e0e0e0;
}
.sel2 option:focus{
    outline: none;
    border-color: #4CAF50;
}

.from-rigth{
    /*colocar formulario del lado derecho al lado del h1*/
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 35px;
    margin-right: 20px; /* Espacio a la derecha */
    padding: 20px;
    width: 700px; /* Ancho del formulario */
    height: 300px; /* Alto del formulario */
    display: flex;
    align-items: center; /* Centrar horizontalmente */
    
}

.fa-plus{
    margin-right: 10px;
}

.btn-pad{
    text-align: center;
}

.download-button{
    text-align: center;
    width: 120px;
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.fa-square-poll-vertical{
    font-size: 26px;
}